<html lang="en" data-layout-decorate="~{fragments/layout}">
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Correos</title>
</head>

<body>

<div data-layout-fragment="content">
	<div class="contenido">
		
		<table id="dgCorreo" th:style="'width:'+#{system.tablefullwidth}+'; height:'+#{system.tablefullheight}+';'">
			<thead>
				<tr>
					<th field="id" width="10">Id</th>
					<th field="emaildata" width="100">Correo</th>
					<th field="statusemail" width="10" formatter="formatGridIcon" align="center" >Estado</th>
				</tr>
			</thead>
		</table>

		<div id="toolbar_table">
			<a id="btnNew" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true"  >Nuevo</a>
			<a id="btnEdi" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" >Editar</a>
			<a id="btnDet" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-formdetail" plain="true" >Detalle</a>
		</div>
		
		<div id="dlgCorreo" class="easyui-dialog" buttons="#dlg-buttons" style="max-width: 400px; height: 200px; max-height: 200px;"
			data-options="modal:true" closed="true">
		</div>
		
		<div id="dlg-buttons">
			  <button id="btnSav" type="button" class="btn btn-success">
		          <span class="glyphicon glyphicon-floppy-disk"></span> Guardar
		      </button>
			  <button type="button" class="btn btn-default" onclick="javascript:$('#dlgCorreo').dialog('close')">
		          <span class="glyphicon glyphicon-remove"></span> Cancelar
		      </button>
		</div>
		
		<div id="dlgCorreoVer" class="easyui-dialog" style="max-width: 400px; max-height: auto;"
			data-options="modal:true" closed="true" >
		</div>

		<script th:src="@{/js/view/correoindex.js}"></script>

	</div>
</div>


</body>
</html>