
<div class="easyui-panel"  style="width:100%; padding:10px 10px;">

	<form id="frmCorreo" th:action="@{/correos/addCorreo}" th:object=${email} method="POST">

		<input type="hidden" th:if="*{id}" th:field="*{id}" />
		
		 <div style="margin-bottom:20px">
		 	<input label="Correo: " th:field="*{emaildata}" style="width:100%;">
         </div>
         
         <div style="margin-bottom:20px">
			<input label="Activo : " th:field="*{statusemail}" th:checked="*{statusemail}"/>
         </div>
         
	</form>
	
	<script type="text/javascript">

		$('#statusemail').checkbox({
		    onChange: function(param){
		    	$(this).checkbox('setValue', param);
		    }
		});
		
		$('#emaildata').textbox({
			iconCls:'icon-email',
			prompt:'Ingrese el correo...',
			iconAlign:'left'
		}).textbox('textbox').validatebox({
			required: true,
			validType:['email','length[2,100]']
		});
		
	</script>

</div>