<div class="container" style="padding: 5px; 5px; 5px; 5px; width:95%;">

  <form id="frmCorreo" th:action="@{/correos/addCorreo}" th:object=${email} method="POST" novalidate class="form-horizontal">
	
	<div class="form-group">
	  <label class="control-label col-sm-2" for="Correo">Correo:</label>
      <div class="col-sm-8">
        <input type="email" class="form-control" th:field="*{emaildata}" placeholder="Ingrese correo..." >
      </div>
    </div>
    
    <div class="form-group">
      <!-- Default checked -->
		<div class="custom-control custom-checkbox">
		  <input type="checkbox" class="custom-control-input" id="defaultChecked2" checked>
		  <label class="custom-control-label" for="defaultChecked2">Default checked</label>
		</div>
    </div>
    

   </form>

</div>
