<div data-th-fragment="sidebar-menu">


 <ul class="easyui-tree" data-options="animate:true">
 
 	<li iconCls="icon-base"><span>Sistema</span>
 		<ul>
 		<li iconCls="icon-gears"><a th:href="@{/areas}" >Areas</a></li>
		<li iconCls="icon-gears"><a th:href="@{/correos}" >Correos</a></li>
		</ul>
	</li>
	
	<li iconCls="icon-base"><span>Oters</span>
		<ul>
		<li iconCls="icon-gears"><a href="#" onclick="open1('panel')">panel</a></li>
		<li iconCls="icon-gears"><a href="#" onclick="open1('tabs')">tabs</a></li>
		<li iconCls="icon-gears"><a href="#" onclick="open1('accordion')">accordion</a></li>
		<li iconCls="icon-gears"><a href="#" onclick="open1('layout')">layout</a></li>
		</ul>
	</li>
	
 </ul>

</div>