<div class="col-sm-5" data-th-fragment="menu-profile-quick-info">

	<div class="user-area dropdown float-right">
		<a href="#" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			<img th:src="@{/img/img_avatar.png}" alt="Avatar" width="50" height="50">
					Jane Devoops
			<span class="fa fa-angle-down"></span>
		</a>
		<div class="user-menu dropdown-menu">
			<a class="nav-link" href="#"><i class="fa fa-user"></i> My Profile </a> 
			<a class="nav-link" href="#"><i class="fa fa-user"></i> Notifications <span class="count">5</span></a> 
			<a class="nav-link" href="#"><i class="fa fa-cog"></i> Settings </a>
			<a class="nav-link" href="#"><i class="fa fa-power-off"></i> Logout </a>
		</div>
	</div>
	
</div>