
body {
	font-family: verdana, helvetica, arial, sans-serif;
	/*padding: 10px;*/
	font-size: 12px;
	margin: 0;
}

.box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.navbar {
	      margin-bottom: 0;
	      border-radius: 0;
	  }
	  footer {
	      background-color: #555;
	      color: white;
	      padding: 15px;
	  }

.contenido {
	padding: 10px;
}

.system-init-href {
	color: rgb(119, 119, 119);
	text-decoration: none;
	display: inline-block;
}

.tree-title {
	font-size: 14px;
}

.tree-title a {
	text-decoration: none;
	color: rgb(119, 119, 119);
}

.tree-title a:link { color:rgb(119, 119, 119); text-decoration: none; }
.tree-title a:visited { color:rgb(119, 119, 119); text-decoration: none; }
.tree-title a:hover { color:rgb(119, 119, 119); text-decoration: none; }
.tree-title a:active { color:rgb(119, 119, 119); text-decoration: underline; }


/*
.checkboxInit label:after {
  content: '';
  display: table;
  clear: both;
}

.checkboxInit .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
}

.checkboxInit .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 15%;
}

.checkboxInit label input[type="checkbox"] {
  display: none;
}

.checkboxInit label input[type="checkbox"]+.cr>.cr-icon {
  opacity: 0;
}

.checkboxInit label input[type="checkbox"]:checked+.cr>.cr-icon {
  opacity: 1;
}

.checkboxInit label input[type="checkbox"]:disabled+.cr {
  opacity: .5;
}*/
